<div class="search-view">
    <div class="search-movie">
        <div class="input-group mb-2">
            <label class="input-group-text"> {{ 'movie.search_by_title' | translate }}:</label>
            <input class="form-control" #searchInput type="text" matInput [(ngModel)]="searchInputTitle" (keyup.enter)="searchMovieByTitle()"
                 />

            <button class="search-cta btn btn-primary" mat-flat-button color="primary" [disabled]="!searchInputTitle"
                (click)="searchMovieByTitle()">
                {{ 'movie.search' | translate | uppercase }}
            </button>
        </div>
    </div>

    <span *ngIf="errorMessage">{{ errorMessage }}</span>
    <app-movie-table *ngIf="movies" [movies]="movies"></app-movie-table>
</div>