<div class="search-view">
    <div class="search-movie row">
        <div class="by-email-or-voucher col-xs-8 col-md-4">
            <label class="search-text"> {{ 'movie.search_by_title' | translate }}:</label>
            <mat-form-field class="search-box" appearance="outline">
                <input #searchInput type="text" matInput [(ngModel)]="searchInputTitle"
                (keyup.enter)="searchMovieByTitle()" />
                    
            </mat-form-field>
            <button class="search-cta" mat-flat-button color="primary" [disabled]="!searchInputTitle"
                (click)="searchMovieByTitle()">
                {{ 'movie.search' | translate | uppercase }}
            </button>
        </div>
    </div>


    <span *ngIf="errorMessage">{{ errorMessage }}</span>
    <div [style.display]="pageSource.data.length > 0 ? 'block' : 'none'" class="search-movie">
        <mat-table [dataSource]="pageSource">
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef class="col-xs-8 col-md-4">
                   {{'movie.table_header.title'|translate}}
                </mat-header-cell>
                <mat-cell class="col-xs-8 col-md-4" *matCellDef="let movie">{{ movie.title }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="release_date">
                <mat-header-cell *matHeaderCellDef  class="col-xs-5 col-md-1">
                    {{'movie.table_header.release_date'|translate}}
                </mat-header-cell>
                <mat-cell class="col-xs-5 col-md-1" *matCellDef="let movie">{{ movie.release_date }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="firstGenre">
                <mat-header-cell *matHeaderCellDef class="col-xs-5 col-md-1">
                    {{'movie.table_header.genre'|translate}}
                </mat-header-cell>
                <mat-cell class="col-xs-5 col-md-1" *matCellDef="let movie">
                        {{movie.firstGenre}}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['title', 'release_date','firstGenre']"></mat-header-row>
            <mat-row *matRowDef="let movie; columns: ['title', 'release_date','firstGenre']"></mat-row>
        </mat-table>
        <mat-paginator [pageSize]="20" showFirstLastButtons="true">
        </mat-paginator>
    </div>
</div>