<div class="search-view">
    <div class="search-movie row">
        <div class="by-email-or-voucher col-xs-8 col-md-4">
            <label class="search-text"> {{ 'movie.search_by_title' | translate }}:</label>
            <mat-form-field class="search-box" appearance="outline">
                <input #searchInput type="text" matInput [(ngModel)]="searchInputTitle"
                    (keyup.enter)="searchMovieByTitle()" />

            </mat-form-field>
            <button class="search-cta" mat-flat-button color="primary" [disabled]="!searchInputTitle"
                (click)="searchMovieByTitle()">
                {{ 'movie.search' | translate | uppercase }}
            </button>
        </div>
    </div>

    <span *ngIf="errorMessage">{{ errorMessage }}</span>
    <app-movie-table *ngIf="movies" [movies]="movies"></app-movie-table>
</div>